.footer__navigation-item {
  margin: 0;
  margin-right: 18px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
}
  
@media screen and (max-width: 623px) {
  .footer__navigation-item {
    display: block;
    margin-right: 0;
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 24px;
  }
}

.footer__navigation-item:hover {
  opacity: 0.8;
}