.cover__title {
  margin: 245px auto 0 auto;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: white;
  text-align: center;
}
  
@media screen and (max-width: 1024px) {
  .cover__title {
    margin-top: 195px;
  }
}
  
@media screen and (max-width: 768px) {
  .cover__title {
    margin-top: 115px;
  }
}
  
@media screen and (max-width: 623px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    margin-top: 33px;
  }
}